In [1]:
import pandas as pd

data = pd.read_csv(r"C:\Users\Sai Pranav\ml-latest-small (1)\ml-latest-small\ratings.csv")

data.head(10)

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931
5       1       70     3.0  964982400
6       1      101     5.0  964980868
7       1      110     4.0  964982176
8       1      151     5.0  964984041
9       1      157     5.0  964984100

In [2]:

value_counts = data['rating'].value_counts()

print(value_counts)

4.0    26818
3.0    20047
5.0    13211
3.5    13136
4.5     8551
2.0     7551
2.5     5550
1.0     2811
1.5     1791
0.5     1370
Name: rating, dtype: int64

In [3]:
value_counts = data['movieId'].value_counts()

print(value_counts)

356       329
318       317
296       307
593       279
2571      278
         ...
86279       1
86922       1
5962        1
87660       1
163981      1
Name: movieId, Length: 9724, dtype: int64

In [4]:
data_unique = data.drop_duplicates(subset=['movieId'])

print(data_unique)
# removing the rows of the movieId which have duplicates

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100820     610   160341     2.5  1479545749
100821     610   160527     4.5  1479544998
100823     610   160836     3.0  1493844794
100827     610   163937     3.5  1493848789
100828     610   163981     3.5  1493850155

[9724 rows x 4 columns]

In [5]:
data_sorted = data_unique.sort_values(by='movieId', ascending=True)

print(data_sorted)#sorting the movieId in ascending order

       userId  movieId  rating   timestamp
0           1        1     4.0   964982703
560         6        2     4.0   845553522
1           1        3     4.0   964981247
562         6        4     3.0   845554349
563         6        5     5.0   845553938
...       ...      ...     ...         ...
27256     184   193581     4.0  1537109082
27257     184   193583     3.5  1537109545
27258     184   193585     3.5  1537109805
27259     184   193587     3.5  1537110021
51362     331   193609     4.0  1537157606

[9724 rows x 4 columns]

In [6]:
data_without_column = data_sorted.drop(columns=['timestamp'])

print(data_without_column)#dropping the column of timestamp

       userId  movieId  rating
0           1        1     4.0
560         6        2     4.0
1           1        3     4.0
562         6        4     3.0
563         6        5     5.0
...       ...      ...     ...
27256     184   193581     4.0
27257     184   193583     3.5
27258     184   193585     3.5
27259     184   193587     3.5
51362     331   193609     4.0

[9724 rows x 3 columns]

In [7]:

data = pd.read_csv(r"C:\Users\Sai Pranav\ml-latest-small (1)\ml-latest-small\tags.csv")

In [8]:
columns_to_drop = ['userId','timestamp']
data_dropped = data.drop(columns=columns_to_drop)

print(data_dropped)

      movieId               tag
0       60756             funny
1       60756   Highly quotable
2       60756      will ferrell
3       89774      Boxing story
4       89774               MMA
...       ...               ...
3678     7382         for katie
3679     7936           austere
3680     3265            gun fu
3681     3265  heroic bloodshed
3682   168248  Heroic Bloodshed

[3683 rows x 2 columns]

In [9]:
data_combined_tags = data_dropped.groupby('movieId')['tag'].apply(lambda x: ', '.join(x)).reset_index()

print(data_combined_tags)#combining tags of rows which have same movieid

      movieId                                                tag
0           1                                  pixar, pixar, fun
1           2    fantasy, magic board game, Robin Williams, game
2           3                                         moldy, old
3           5                                  pregnancy, remake
4           7                                             remake
...       ...                                                ...
1567   183611                      Comedy, funny, Rachel McAdams
1568   184471  adventure, Alicia Vikander, video game adaptation
1569   187593                Josh Brolin, Ryan Reynolds, sarcasm
1570   187595                           Emilia Clarke, star wars
1571   193565                   anime, comedy, gintama, remaster

[1572 rows x 2 columns]

In [10]:
data_sorted = data_combined_tags.sort_values(by='movieId', ascending=True)

print(data_sorted)#sorting movieid in ascending order

      movieId                                                tag
0           1                                  pixar, pixar, fun
1           2    fantasy, magic board game, Robin Williams, game
2           3                                         moldy, old
3           5                                  pregnancy, remake
4           7                                             remake
...       ...                                                ...
1567   183611                      Comedy, funny, Rachel McAdams
1568   184471  adventure, Alicia Vikander, video game adaptation
1569   187593                Josh Brolin, Ryan Reynolds, sarcasm
1570   187595                           Emilia Clarke, star wars
1571   193565                   anime, comedy, gintama, remaster

[1572 rows x 2 columns]

In [11]:
data2 = pd.read_csv(r'C:\Users\Sai Pranav\ml-latest-small (1)\ml-latest-small\movies.csv')
print(data2)

      movieId                                      title  \
0           1                           Toy Story (1995)
1           2                             Jumanji (1995)
2           3                    Grumpier Old Men (1995)
3           4                   Waiting to Exhale (1995)
4           5         Father of the Bride Part II (1995)
...       ...                                        ...
9737   193581  Black Butler: Book of the Atlantic (2017)
9738   193583               No Game No Life: Zero (2017)
9739   193585                               Flint (2017)
9740   193587        Bungo Stray Dogs: Dead Apple (2018)
9741   193609        Andrew Dice Clay: Dice Rules (1991)

                                           genres
0     Adventure|Animation|Children|Comedy|Fantasy
1                      Adventure|Children|Fantasy
2                                  Comedy|Romance
3                            Comedy|Drama|Romance
4                                          Comedy
...                                           ...
9737              Action|Animation|Comedy|Fantasy
9738                     Animation|Comedy|Fantasy
9739                                        Drama
9740                             Action|Animation
9741                                       Comedy

[9742 rows x 3 columns]

In [12]:

merged_data = pd.merge(data2,data_sorted, on='movieId', how='left')

# Fill NaN values in the 'tags' column with an empty string
merged_data['tag'].fillna('', inplace=True)

# Combine 'genres' and 'tags' columns into a new column
merged_data['combined_info'] = merged_data['genres'] + ', ' + merged_data['tag']

print(merged_data)
#combining two data sets

      movieId                                      title  \
0           1                           Toy Story (1995)
1           2                             Jumanji (1995)
2           3                    Grumpier Old Men (1995)
3           4                   Waiting to Exhale (1995)
4           5         Father of the Bride Part II (1995)
...       ...                                        ...
9737   193581  Black Butler: Book of the Atlantic (2017)
9738   193583               No Game No Life: Zero (2017)
9739   193585                               Flint (2017)
9740   193587        Bungo Stray Dogs: Dead Apple (2018)
9741   193609        Andrew Dice Clay: Dice Rules (1991)

                                           genres  \
0     Adventure|Animation|Children|Comedy|Fantasy
1                      Adventure|Children|Fantasy
2                                  Comedy|Romance
3                            Comedy|Drama|Romance
4                                          Comedy
...                                           ...
9737              Action|Animation|Comedy|Fantasy
9738                     Animation|Comedy|Fantasy
9739                                        Drama
9740                             Action|Animation
9741                                       Comedy

                                                  tag  \
0                                   pixar, pixar, fun
1     fantasy, magic board game, Robin Williams, game
2                                          moldy, old
3
4                                   pregnancy, remake
...                                               ...
9737
9738
9739
9740
9741

                                          combined_info
0     Adventure|Animation|Children|Comedy|Fantasy, p...
1     Adventure|Children|Fantasy, fantasy, magic boa...
2                            Comedy|Romance, moldy, old
3                                Comedy|Drama|Romance,
4                             Comedy, pregnancy, remake
...                                                 ...
9737                  Action|Animation|Comedy|Fantasy,
9738                         Animation|Comedy|Fantasy,
9739                                            Drama,
9740                                 Action|Animation,
9741                                           Comedy,

[9742 rows x 5 columns]

In [13]:
columns_to_drop = ['tag','genres']
reqdataset = merged_data.drop(columns=columns_to_drop)


reqdataset.head(10)

,movieId,title,combined_info
0,1,Toy Story (1995),"Adventure|Animation|Children|Comedy|Fantasy, p..."
1,2,Jumanji (1995),"Adventure|Children|Fantasy, fantasy, magic boa..."
2,3,Grumpier Old Men (1995),"Comedy|Romance, moldy, old"
3,4,Waiting to Exhale (1995),"Comedy|Drama|Romance,"
4,5,Father of the Bride Part II (1995),"Comedy, pregnancy, remake"
5,6,Heat (1995),"Action|Crime|Thriller,"
6,7,Sabrina (1995),"Comedy|Romance, remake"
7,8,Tom and Huck (1995),"Adventure|Children,"
8,9,Sudden Death (1995),"Action,"
9,10,GoldenEye (1995),"Action|Adventure|Thriller,"

In [14]:
rows, columns = reqdataset.shape

print("Number of rows:", rows)
print("Number of columns:", columns)

Number of rows: 9742
Number of columns: 3

In [15]:
import nltk
from nltk.tokenize import word_tokenize


nltk.download('punkt')


reqdataset['description_tokens'] = reqdataset['combined_info'].apply(word_tokenize)

print(reqdataset['description_tokens'])

[nltk_data] Downloading package punkt to C:\Users\Sai
[nltk_data]     Pranav\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

0       [Adventure|Animation|Children|Comedy|Fantasy, ...
1       [Adventure|Children|Fantasy, ,, fantasy, ,, ma...
2                      [Comedy|Romance, ,, moldy, ,, old]
3                               [Comedy|Drama|Romance, ,]
4                       [Comedy, ,, pregnancy, ,, remake]
                              ...
9737                 [Action|Animation|Comedy|Fantasy, ,]
9738                        [Animation|Comedy|Fantasy, ,]
9739                                           [Drama, ,]
9740                                [Action|Animation, ,]
9741                                          [Comedy, ,]
Name: description_tokens, Length: 9742, dtype: object

In [16]:
from nltk.corpus import stopwords


nltk.download('stopwords')

stop_words = set(stopwords.words('english'))

reqdataset['description_tokens'] = reqdataset['description_tokens'].apply(lambda tokens: [word for word in tokens if word.lower() not in stop_words])

print(reqdataset['description_tokens'])

0       [Adventure|Animation|Children|Comedy|Fantasy, ...
1       [Adventure|Children|Fantasy, ,, fantasy, ,, ma...
2                      [Comedy|Romance, ,, moldy, ,, old]
3                               [Comedy|Drama|Romance, ,]
4                       [Comedy, ,, pregnancy, ,, remake]
                              ...
9737                 [Action|Animation|Comedy|Fantasy, ,]
9738                        [Animation|Comedy|Fantasy, ,]
9739                                           [Drama, ,]
9740                                [Action|Animation, ,]
9741                                          [Comedy, ,]
Name: description_tokens, Length: 9742, dtype: object

[nltk_data] Downloading package stopwords to C:\Users\Sai
[nltk_data]     Pranav\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [17]:
from nltk.stem import PorterStemmer

stemmer = PorterStemmer()

reqdataset['description_tokens'] = reqdataset['description_tokens'].apply(lambda tokens: [stemmer.stem(word) for word in tokens])

print(reqdataset['description_tokens'])

0       [adventure|animation|children|comedy|fantasi, ...
1       [adventure|children|fantasi, ,, fantasi, ,, ma...
2                          [comedy|rom, ,, moldi, ,, old]
3                                   [comedy|drama|rom, ,]
4                         [comedi, ,, pregnanc, ,, remak]
                              ...
9737                 [action|animation|comedy|fantasi, ,]
9738                        [animation|comedy|fantasi, ,]
9739                                           [drama, ,]
9740                                     [action|anim, ,]
9741                                          [comedi, ,]
Name: description_tokens, Length: 9742, dtype: object

In [18]:
reqdataset.head()

,movieId,title,combined_info,description_tokens
0,1,Toy Story (1995),"Adventure|Animation|Children|Comedy|Fantasy, p...","[adventure|animation|children|comedy|fantasi, ..."
1,2,Jumanji (1995),"Adventure|Children|Fantasy, fantasy, magic boa...","[adventure|children|fantasi, ,, fantasi, ,, ma..."
2,3,Grumpier Old Men (1995),"Comedy|Romance, moldy, old","[comedy|rom, ,, moldi, ,, old]"
3,4,Waiting to Exhale (1995),"Comedy|Drama|Romance,","[comedy|drama|rom, ,]"
4,5,Father of the Bride Part II (1995),"Comedy, pregnancy, remake","[comedi, ,, pregnanc, ,, remak]"

In [19]:
from sklearn.feature_extraction.text import TfidfVectorizer


preprocessed_text = reqdataset['description_tokens'].apply(lambda tokens: ' '.join(tokens))

# Initialize the TfidfVectorizer
tfidf_vectorizer = TfidfVectorizer()

# Fit and transform the preprocessed text data
tfidf_matrix = tfidf_vectorizer.fit_transform(preprocessed_text)

# 'tfidf_matrix' is a sparse matrix containing TF-IDF vector representations of the text data
print(tfidf_matrix)

  (0, 566)	0.4000182911447829
  (0, 1105)	0.8327116511698907
  (0, 509)	0.20924323726277627
  (0, 304)	0.11584249746409284
  (0, 262)	0.1784669779985233
  (0, 73)	0.18759542875445678
  (0, 36)	0.14943878034534247
  (1, 1594)	0.30105565761405484
  (1, 1221)	0.33162191414885445
  (1, 574)	0.6632438282977089
  (1, 170)	0.357748594489147
  (1, 884)	0.3054952338085619
  (1, 509)	0.3248649936580993
  (1, 262)	0.138541332169459
  (1, 36)	0.11600716243984485
  (2, 1043)	0.680141718620538
  (2, 953)	0.680141718620538
  (2, 1228)	0.2135063466430038
  (2, 304)	0.17096644444732328
  (3, 436)	0.4271915910068058
  (3, 1228)	0.7057709441523244
  (3, 304)	0.5651501738152531
  (4, 1194)	0.6602762936501189
  (4, 1132)	0.7064989496691921
  (4, 303)	0.25474389131045
  :	:
  (9732, 594)	0.5767817057631328
  (9732, 72)	0.34544918822079923
  (9732, 527)	0.200283045614197
  (9732, 1267)	0.200283045614197
  (9732, 22)	0.16232637657129464
  (9732, 303)	0.18052075396309653
  (9732, 304)	0.14498495645376122
  (9732, 73)	0.23478874907129987
  (9733, 436)	0.4229635973550339
  (9733, 73)	0.9061466742820881
  (9734, 436)	0.6030031210667524
  (9734, 304)	0.7977388269250505
  (9735, 72)	1.0
  (9736, 420)	1.0
  (9737, 22)	0.3924561531115753
  (9737, 509)	0.6331527668202689
  (9737, 304)	0.3505298366830821
  (9737, 73)	0.5676482848979938
  (9738, 509)	0.688381089549664
  (9738, 304)	0.38110567234410014
  (9738, 73)	0.6171628164897563
  (9739, 436)	1.0
  (9740, 72)	0.9050587386571661
  (9740, 22)	0.42528658523435625
  (9741, 303)	1.0

In [20]:
from sklearn.model_selection import train_test_split

# Assuming 'tfidf_matrix' is your TF-IDF matrix and 'reqdataset' is your DataFrame
X_train, X_test, y_train, y_test = train_test_split(tfidf_matrix, reqdataset['movieId'], test_size=0.2, random_state=42)

print("Training data shape:", X_train.shape)
print("Testing data shape:", X_test.shape)

Training data shape: (7793, 1619)
Testing data shape: (1949, 1619)

In [21]:
from sklearn.neighbors import NearestNeighbors

# Assuming X_train is your training feature matrix and y_train are your movie IDs
n_neighbors = 10  # Choose the number of neighbors
knn_model = NearestNeighbors(n_neighbors=n_neighbors, metric='cosine')
knn_model.fit(X_train)
test_movie_index = 23

# Assuming test_movie_index is the index of a movie you want to make recommendations for
# Find the indices of nearest neighbors
distances, indices = knn_model.kneighbors(X_test[test_movie_index], n_neighbors=n_neighbors+1)

# Retrieve movie IDs of similar movies (excluding the input movie itself)
similar_movie_ids = y_train.iloc[indices[0][1:]]

print("Recommended movies:")
print(similar_movie_ids)

Recommended movies:
8640    119218
5510     26464
3364      4572
3925      5521
6353     49314
5991     36931
9330    160527
4406      6484
5877     33132
6678     57843
Name: movieId, dtype: int64

In [22]:
recommended_movies = reqdataset[reqdataset['movieId'].isin(similar_movie_ids)]

print("Recommended movies:")
print(recommended_movies[['movieId', 'title']])

Recommended movies:
      movieId                                          title
3364     4572                              Black Rain (1989)
3925     5521                          Principal, The (1987)
4406     6484                      Hollywood Homicide (2003)
5510    26464                            Blue Thunder (1983)
5877    33132                        State Property 2 (2005)
5991    36931  New Police Story (Xin jing cha gu shi) (2004)
6353    49314                             Harsh Times (2006)
6678    57843                 Rise of the Footsoldier (2007)
8640   119218             The Punisher: Dirty Laundry (2012)
9330   160527               Sympathy for the Underdog (1971)

In [23]:
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

nltk.download('punkt')
nltk.download('stopwords')

def preprocess_text(text):
    # Convert to lowercase
    text = text.lower()
    
    # Tokenization
    tokens = word_tokenize(text)
    
    # Remove stopwords
    stop_words = set(stopwords.words('english'))
    filtered_tokens = [word for word in tokens if word not in stop_words]
    
    return filtered_tokens

[nltk_data] Downloading package punkt to C:\Users\Sai
[nltk_data]     Pranav\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to C:\Users\Sai
[nltk_data]     Pranav\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [24]:
from sklearn.neighbors import NearestNeighbors
from sklearn.feature_extraction.text import TfidfVectorizer



# Initialize the KNN model
n_neighbors = 5
knn_model = NearestNeighbors(n_neighbors=n_neighbors, metric='cosine')
knn_model.fit(tfidf_matrix)

# Get input movie description from the user
input_description = input("Enter the movie description: ")

# Preprocess and vectorize the input description
input_description_tokens = preprocess_text(input_description)  
input_description_vector = tfidf_vectorizer.transform([" ".join(input_description_tokens)])

# Find nearest neighbors
distances, indices = knn_model.kneighbors(input_description_vector, n_neighbors=n_neighbors)

# Retrieve similar movie IDs and titles
similar_movie_ids = reqdataset.iloc[indices[0], :]['movieId']
similar_movie_titles = reqdataset[reqdataset['movieId'].isin(similar_movie_ids)]['title']

print("Recommended movies:")
print(similar_movie_titles)

Enter the movie description: comedy
Recommended movies:
750              Pompatus of Love, The (1996)
753                  Grace of My Heart (1996)
7656    Paper Birds (Pájaros de papel) (2010)
8317                  Saving Mr. Banks (2013)
9492                          Table 19 (2017)
Name: title, dtype: object

In [25]:
from sklearn.model_selection import train_test_split


X_train, X_test, y_train, y_test = train_test_split(tfidf_matrix, reqdataset['movieId'], test_size=0.2, random_state=42)

print("Training data shape:", X_train.shape)
print("Testing data shape:", X_test.shape)

Training data shape: (7793, 1619)
Testing data shape: (1949, 1619)

In [26]:
import numpy as np
from collections import Counter

class KNN:
    def __init__(self, k=5):
        self.k = k

    def fit(self, X_train, y_train):
        self.X_train = X_train
        self.y_train = y_train

    def euclidean_distance(self, x1, x2):
        return np.sqrt(np.sum((x1 - x2) ** 2))

    def predict(self, X_test):
        y_pred = [self._predict(x) for x in X_test]
        return np.array(y_pred)

    def _predict(self, x):
        x = x.toarray()  # Convert to dense array
        # Compute distances between x and all examples in the training set
        distances = [self.euclidean_distance(x, x_train.toarray()) for x_train in self.X_train]
        # Get indices of k-nearest samples
        k_indices = np.argsort(distances)[:self.k]
        # Get labels of k-nearest samples
        k_nearest_labels = [self.y_train[i] for i in k_indices]
        # Return the most common class label among the k neighbors
        most_common = Counter(k_nearest_labels).most_common(1)
        return most_common[0][0]
# Reset index of y_train to match row indices of X_train
y_train.reset_index(drop=True, inplace=True)

# Check matrix shapes
assert X_train.shape[0] == y_train.shape[0], "Mismatch between X_train and y_train shapes"
assert X_test.shape[0] == y_test.shape[0], "Mismatch between X_test and y_test shapes"

# Verify indices in y_train
assert y_train.index.min() == 0 and y_train.index.max() == (X_train.shape[0] - 1), "Indices in y_train don't match X_train"

In [28]:
# Continue with the KNN model
knn_model = KNN(k=3)
knn_model.fit(X_train, y_train)

In [29]:
y_pred = knn_model.predict(X_test)
print("Predictions:", y_pred)

Predictions: [ 2512   737  3710 ... 53466  2512 53355]

In [31]:
accuracy = np.mean(y_pred == y_test)
print("Accuracy:", accuracy)

Accuracy: 0.0

In [36]:
# Assuming 'knn_model' is the trained KNN model
# Assuming 'tfidf_vectorizer' is the TF-IDF vectorizer you used for training

# Input a movie description
input_description = "action"

# Apply NLP preprocessing to the input description
input_tokens = word_tokenize(input_description)
input_tfidf = tfidf_vectorizer.transform([input_description])

# Use the trained KNN model to predict a movie ID
predicted_movie_id = knn_model.predict(input_tfidf)[0]

# the movie title from the original dataset based on the predicted movie ID
predicted_movie_title = reqdataset.loc[reqdataset['movieId'] == predicted_movie_id, 'title'].values[0]

print("Recommended Movie Title:", predicted_movie_title)

Recommended Movie Title: Best of the Best (1989)